{% extends 'base_template.html' %}

    {% block content %}
    <main class="flex-grow-1">
        <div class="container-lg mt-3">
            <h1>Сайты</h1>
            <div class="table-responsive">
                <table class="table table-bordered table-hover text-nowrap" data-test="urls">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Имя</th>
                            <th>Последняя проверка</th>
                            <th>Код ответа</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in websites_list %}
                        <tr>
                            <td>{{ row[0] }}</td>
                            <td><a href="{{ url_for('show_website_info', id=row[0]) }}">{{ row[1] }}</a></td>
                            <td>{{ row[2] if row[2] }}</td>
                            <td>{{ row[3] if row[3] }}</td>
                        </tr>
                        {% endfor %}          
                    </tbody>
                </table>
            </div>
        </div>
    </main>
    {% endblock %}
